@font-face {
  font-family: "Lexend";
  font-display: swap;
  font-weight: 400;
  src: url("https://gleam.run/fonts/Lexend.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-display: swap;
  font-weight: 700;
  src: url("https://gleam.run/fonts/Lexend-700.woff2") format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: url("https://gleam.run/fonts/Outfit.woff") format("woff");
}

:root {
  --font-family-normal: "Outfit", sans-serif;
  --font-family-title: "Lexend", sans-serif;

  --font-size-normal: calc(var(--gap) * 1.5);
  --font-size-small: calc(var(--gap) * 1.2);
  --font-size-extra-small: calc(var(--gap));
}
