#playground {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#left,
#output>*,
#editor .codeflask__flatten {
  padding: var(--gap);
}

#right {
  display: flex;
  flex-direction: column;
  border: var(--color-divider);
  background: var(--code-background);
  padding-top: .15rem;
  overflow: hidden;
  flex-grow: 1;
  min-height: fit-content;
}

#output,
#editor {
  border-top: 1px solid var(--color-accent-muted);
}

#editor {
  position: relative;
  overflow: clip;
  flex-grow: 1;
  min-height: 15rem;
}

#output {
  min-height: 1rem;
  background: var(--color-background-dim);
  overflow: auto;
}

#output>* {
  margin: 0;
  white-space: pre-wrap;
}

/* Larger then mobile */
@media (min-width: 768px) {
  #playground {
    min-height: calc(100dvh - var(--navbar-height));
    flex-direction: row;
  }

  #left {
    height: 100%;
    width: 50%;
    overflow-y: auto;

    & h2:first-of-type {
      margin-top: 0;
    }
  }

  #right {
    border-left: 1px solid var(--color-accent-muted);
    width: 50%;
  }

  #editor {
    border: none;
  }

  #output {
    height: 33%;
    border-top: 1px solid var(--color-accent-muted);
  }
}

/* Larger than medium screen and has enough to height to not worry about losing vertical space */
@media (min-width: 1200px) and (min-height: 700px) {
  #left {
    /* Lift the navigation bar up a bit so it's not sitting right on the bottom*/
    padding: calc(var(--gap) * 2);
  }

  #right {
    border-left: unset;
    border-radius: var(--border-radius);
    padding: 2px 1px;
    box-shadow: var(--drop-shadow);
    /* Use calc here to add additional padding dynamically to allow for the drop shadow */
    margin-top: calc(var(--gap) * 2);
    margin-right: calc(var(--gap) * 3);
    margin-bottom: calc(var(--gap) * 3);
    margin-left: calc(var(--gap) * 2);
  }
}

.error,
.warning {
  border-style: solid;
  /* height: 100%; - Removed as we can have multiple errors/warnings/logs on one output*/
}

.error {
  overflow: auto;
  border-color: var(--brand-error);
}

.warning {
  border-color: var(--brand-warning);
}

.prev-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--gap);
  gap: 0.5em;
}

.prev-next span {
  opacity: 0.5;
}

.mb-0 {
  margin-bottom: 0;
}

.content-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
