name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: false
          # When changing the version be search to search the codebase for all other
          # instances of the version and update those too.
          gleam-version: "1.10.0"
      - run: ./bin/download-compiler
      - run: gleam deps download
      - run: gleam format --check src test
      - run: gleam test
      - run: gleam run
